@charset "UTF-8";
/* CSS Document */


body {
	background: black;
	background-size:220%;
	margin:5%;
	padding-top:0px;
}

.background {
	background-color:rgba(238,183,184,0.40);
	background-size:100%;
	margin:0%;
	padding-top:0px;
}
.offset {
	padding-bottom:0px;
	padding-top:5%;
	padding-left:5%;
}
